<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div class="h-100">

        <div class="user-wid text-center py-4">
            <div class="user-img">
                <img src="assets/images/users/avatar-2.jpg" alt="" class="avatar-md mx-auto rounded-circle">
            </div>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class='bx bxs-dashboard'></i>

                        <span>Dashboards</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="index.html">Dashboard 1</a></li>
                        <li><a href="index-2.html">Dashboard 2</a></li>
                        <li><a href="index-3.html">Dashboard 3</a></li>
                        <li><a href="index-4.html">Dashboard 4</a></li>
                    </ul>
                </li>

                <li>
                    <a href="calendar.html" class="waves-effect">
                        <i class='bx bx-id-card'></i>
                        <span>Clientes</span>
                    </a>
                </li>

                <li>
                    <a href="calendar.html" class=" waves-effect">
                        <i class='bx bx-money'></i>
                        <span>Tarifas</span>
                    </a>
                </li>

                <li>
                    <a href="calendar.html" class=" waves-effect">
                        <i class='bx bx-customize'></i>
                        <span>Productos</span>
                    </a>
                </li>

                <li>
                    <a href="calendar.html" class=" waves-effect">
                        <i class='bx bx-right-arrow-alt'></i>
                        <span>Movimientos</span>
                    </a>
                </li>

                <li>
                    <a href="calendar.html" class=" waves-effect">
                        <i class='bx bx-list-ul'></i>
                        <span>Categorias</span>
                    </a>
                </li>
                <li>
                    <a href="calendar.html" class=" waves-effect">
                        <i class='bx bx-card'></i>
                        <span>Cuentas</span>
                    </a>
                </li>
                <li>
                    <a href="calendar.html" class=" waves-effect">
                        <i class='bx bx-store'></i>
                        <span>Compras</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class='bx bx-line-chart'></i>

                        <span>Ventas</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="index.html">Venta 1</a></li>
                        <li><a href="index-2.html">Venta 2</a></li>
                        <li><a href="index-3.html">Venta 3</a></li>
                        <li><a href="index-4.html">Venta 4</a></li>
                    </ul>
                </li>




                <li class="menu-title">Perfil</li>


                <li class="d-block d-md-none">
                    <a href="calendar.html" class=" waves-effect">
                        <i class='mdi mdi-bell-outline'></i>

                        <span>Notificaciones</span>
                    </a>
                </li>

                <li class="d-block d-md-none">
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class='bx bx-user'></i>

                        <span>Usuario</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="index.html">Perfil</a></li>
                        <li><a href="index-2.html">My wallet</a></li>
                        <li><a href="index-3.html">Lock Screen</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class='bx bx-cog'></i>

                        <span>Configuración</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="index.html">Venta 1</a></li>
                        <li><a href="index-2.html">Venta 2</a></li>
                        <li><a href="index-3.html">Venta 3</a></li>
                        <li><a href="index-4.html">Venta 4</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->